.header-top {
    border-top: 5px solid #F1c222 ;
    border-color: #F1c222;
    
}
.navb{
    background-color: blue;
}
.bg1size{
    width: 426px;
    height: 267px;
}
.card1{
    display: flex;
}
.serimg{
    width: 50px;
    height: 50px;
    
}
.limg{
    width: 200px;
    height: 65px;
}
.sites{
    background-color: #f8f9fa;
}
.lin{
    background-color: white;
    width: 150px;
    height: 1px;
}
.itimg{
    width: 70px;
    height: 70px;
}
.imgnic{
    width: 142px;
    height: 40px;
}
.footerc{
    width: 100%;
    height: 40px;
    display: flex;
    position: fixed;
    bottom: 0px;
}
.notice{
    width: 66px;
    height: 40px;
    background-color: #dc3545;
}
.ins{
    background-color: #6e6c74;
    width: 1500px;
    height: 40px;
    display: flex;

}
.nn{
    color: gold;
    font-weight: bold;
    font-family: 'Baloo Chettan 2';
}
.nnn{
    color:white;
    font-family: 'Baloo Chettan 2';

}
.notice p{
    margin-top: 15px;
    margin-left: 15px;
}
